
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - Dalia Research</title>
  <meta name="Description" content="Site description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/main.css" />
  <link rel="manifest" href="/manifest.json" />

  <script src="/app.js"></script>
</head>

<body class="bg-gray-100">
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer class="text-xs italic">
    © 2020 Ben Lovy - <a href="https://github.com/deciduously/dalia-challenge" target="_blank"
      rel="noreferrer">source</a>
  </footer>
</body>

</html>